.App {
  text-align: center;
  margin: 20px;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.header {
  position: relative;
  background-color: rgb(56, 56, 124);
  text-align: left;
  padding: 80px;
  height: 100vh;
}

.header-text {
  width: 60%;
  color: white;
}

h1 {
  font-size: 80px;
}
.header p {
  font-size: 30px;
  opacity: 0.6;
}
.header-text button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
}
.icon {
  max-width: 80%;
}
